body{
   background-image: url(../images/bg.jpg);
   margin: 0 10%;
   background-attachment: fixed;
}
/* Debut Header */
header div{
    text-align: center;
    color: white;
}
header img{
    width: 100%;
}
/* Fin Header */

/* Debut Section 1 */
section:first-of-type{
background-color: white;
 display: flex;
 width: 100%;
 flex-direction: column;
 text-align: center;
}
section:first-of-type div{ 
    padding: 30px;
}
hr{
    width: 10%;
}
section:first-of-type div:nth-of-type(2){
    background-color: whitesmoke;
}
/* Fin Section 1 */

/* Debut Section 2 */
section:nth-of-type(2){
    background-color:rgb(39, 39, 39);
    color: white;
    display: flex;
    flex-direction:column;
    text-align: center;
    padding: 50px;
}
section:nth-of-type(2) div:first-of-type{
    background-color: black;
    width: 80%;
    margin: auto;
}
section:nth-of-type(2) div:nth-of-type(2),section:nth-of-type(2) div:nth-of-type(3){
    display: flex;
    justify-content: center;
}

section:nth-of-type(2) img{
    width: 40%;
}
/* Fin Section 2 */